$navbar-default-bg: #073B15;

@import "bootstrap-sprockets";
@import "bootstrap";

.centre {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover-image.png');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #009900;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #009900;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #ffcc00;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}